.videoCard {
  margin-bottom: 40px;
  width: 270px;
}

.videoCard__thumpnail {
  height: 140px;
  width: 250px;
}

.videoCard__info {
  margin-top: 10px;
  padding-right: 30px;
  display: flex;
}

.videoCard__text {
  margin-left: 12px;
}

.videoCard__text > h4 {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
}

.videoCard__text > p {
  font-size: 14px;
  color: #606060;
  font-weight: 500;
  line-height: 19px;
}

.video__avatar {
  height: 30px !important;
  width: 30px !important;
}
